body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.name-span{
    color: rgb(245, 127, 24);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    text-align: justify;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(Orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    text-align: justify;
    width: 40%;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 10px 100px 20px;
    border-radius: 5%;
    box-shadow: 1px 10px 50px grey;
  }
